<div class="ui vertical segment">
    <div class="ui container">
        <h1 class="ui header">Transações com Cartão de Crédito</h1>
        <p><a href="/">&larr; Voltar</a></p>
    </div>
</div>

<div class="ui text container">
    <div class="ui basic inverted segment">
        <form class="ui big inverted form" method="POST" action="">
            <div class="field">
                <label>Valor da Transação</label>
                <input name="amount" value="888" placeholder="Valor da Transação" type="number">
            </div>
            <button submit class="ui submit orange huge fluid button">Criar Transação</button>
        </form>
    </div>
</div>
