<div class="ui vertical segment">
    <div class="ui container">
        <h1 class="ui header">One Click Buy</h1>
        <p><a href="/">&larr; Voltar</a></p>
    </div>
</div>

<div class="ui text container">
    <div class="ui basic  segment">
        <form method="POST" action="">
            <script type="text/javascript"
                src="https://assets.pagar.me/checkout/checkout.js"
                data-button-text="Pagar usando o Checkout"
                data-encryption-key="ek_test_Ec8KhxISQ1tug1b8bCGxC2nXfxqRmk"
                data-amount="1000">
            </script>
        </form>
    </div>
</div>

