<div class="ui vertical segment">
    <div class="ui container">
        <h1 class="ui header">Exemplos Pagar.me</h1>
        <p></p>
    </div>
</div>


<div class="ui basic segment">
    <div class="ui container">
        <h2 class="ui header">Criando Transações</h2>
        <div class="ui cards">
            <div class="ui card">
                <div class="content">
                    <div class="header">Cartão de Crédito</div>
                    <div class="description">
                        Cria uma transação com Cartão de Crédito, com uma ou mais parcelas.
                    </div>
                </div>
                <div class="extra content">
                    <a href="/transacoes/cartao-de-credito" class="ui orange fluid button">Ver Exemplo</a>
                </div>
            </div>

            <div class="ui card">
                <div class="content">
                    <div class="header">POSTback</div>
                    <div class="description">
                        Chamada assíncrona onde o resultado da chamada é retornado através de um POST em uma URL do cliente.
                    </div>
                </div>
                <div class="extra content">
                    <a href="/transacoes/postback" class="ui orange fluid button">Ver Exemplo</a>
                </div>
            </div>

            <div class="ui card">
                <div class="content">
                    <div class="header">One Click Buy</div>
                    <div class="description">
                        Usar um cartão salvo para efetuar uma compra com um clique. 
                    </div>
                </div>
                <div class="extra content">
                    <a href="/transacoes/one-click-buy" class="ui orange fluid button">Ver Exemplo</a>
                </div>
            </div>

            <div class="ui card">
                <div class="content">
                    <div class="header">Checkout</div>
                    <div class="description">
                        Usando o Checkout do Pagar.me para criar uma transação. 
                    </div>
                </div>
                <div class="extra content">
                    <a href="/transacoes/checkout" class="ui orange fluid button">Ver Exemplo</a>
                </div>
            </div>

            <div class="ui card">
                <div class="content">
                    <div class="header">Boleto</div>
                    <div class="description">
                        Cria uma transação apenas autorizando Boleto e simula o pagamento.
                    </div>
                </div>
                <div class="extra content">
                    <a href="/transacoes/boleto" class="ui orange fluid button">Ver Exemplo</a>
                </div>
            </div>

        </div>

        <h2 class="ui header">Gerenciando sua Conta</h2>
        <div class="ui cards">
            <div class="ui card">
                <div class="content">
                    <div class="header">Assinaturas</div>
                    <div class="description">
                        Lista todas as Assinaturas e permite criar uma nova.
                    </div>
                </div>
                <div class="extra content">
                    <a href="/assinaturas/" class="ui orange fluid button">Ver Exemplo</a>
                </div>
            </div>

            <div class="ui card">
                <div class="content">
                    <div class="header">Recebíveis</div>
                    <div class="description">
                        Lista todos os Recebíveis e permite antecipar esses Recebíveis.
                    </div>
                </div>
                <div class="extra content">
                    <a href="/recebiveis/" class="ui orange fluid button">Ver Exemplo</a>
                </div>
            </div>

        </div>


    </div>

    
</div>