<div class="ui vertical segment">
    <div class="ui container">
        <img src="/images/logo.png" class="ui image">
    </div>
</div>


<div class="ui basic segment">
    <div class="ui container">
        <div class="ui three cards">

            <a href="/armazenar-cartao-de-credito" class="ui link orange card">
                <div class="content">
                    <div class="header">01. Armazenar Cartão de Crédito</div>
                    <div class="description">
                        Aprenda a forma correta de Armazenar o Cartão de Crédito de forma segura.
                    </div>
                </div>
            </a>

            <a href="/cartao-de-credito" class="ui link orange card">
                <div class="content">
                    <div class="header">02. Transações com Cartão de Crédito</div>
                    <div class="description">
                        Cria uma transação com Cartão de Crédito, com uma ou mais parcelas.
                    </div>
                </div>
            </a>

            <a href="/postback" class="ui link orange card">
                <div class="content">
                    <div class="header">03. Transações com POSTback</div>
                    <div class="description">
                        Chamada assíncrona onde o resultado da chamada é retornado através de um POST em uma URL do cliente.
                    </div>
                </div>
            </a>

            <a href="/one-click-buy" class="ui link orange card">
                <div class="content">
                    <div class="header">04. Transações com One Click Buy</div>
                    <div class="description">
                        Usar um cartão salvo para efetuar uma compra com um clique.
                    </div>
                </div>
            </a>

            <a href="/checkout" class="ui link orange card">
                <div class="content">
                    <div class="header">05. Transações com Checkout</div>
                    <div class="description">
                        Usando o Checkout do Pagar.me para criar uma transação.
                    </div>
                </div>
            </a>

            <a href="/boleto" class="ui link orange card">
                <div class="content">
                    <div class="header">06. Transações com Boleto</div>
                    <div class="description">
                        Cria uma transação apenas autorizando Boleto e simula o pagamento.
                    </div>
                </div>
            </a>

            <a href="/assinaturas/" class="ui link orange card">
                <div class="content">
                    <div class="header">07. Criando com Planos e Assinaturas</div>
                    <div class="description">
                        Lista todas as Assinaturas, Cria um Plano (apenas no código) e permite criar novas Assinaturas associadas ao plano gerado.
                    </div>
                </div>
            </a>

            <a href="/recebiveis/" class="ui link orange card">
                <div class="content">
                    <div class="header">08. Lidando com Recebíveis</div>
                    <div class="description">
                        Lista todos os Recebíveis e permite antecipar esses Recebíveis.
                    </div>
                </div>
            </a>

            <a href="/recipients/" class="ui link orange card">
                <div class="content">
                    <div class="header">09. Lidando com Recebedores</div>
                    <div class="description">
                        Lista todos os Recebedores e permite fazer transações com split (divididas entre os Recebedores).
                    </div>
                </div>
            </a>

            <a href="/refund/" class="ui link orange card">
                <div class="content">
                    <div class="header">10. Efetuando Estornos</div>
                    <div class="description">
                        Lista todas as transações e permite estorná-las total ou parcialmente.
                    </div>
                </div>
            </a>

        </div>
    </div>
</div>