<div class="ui vertical segment">
    <div class="ui container">
        <h1 class="ui header">Transações com Cartão de Crédito - POSTback</h1>
        <p><a href="/">&larr; Voltar</a></p>
    </div>
</div>

<div class="ui text container">
    <div class="ui basic inverted segment">
        <div class="ui big inverted form" method="POST" action="">
            <div class="field">
                <label>POSTback URL</label>
                <input id="postback_url" placeholder="POSTback URL" type="url">
            </div>
            <div class="field">
                <label>CVV</label>
                <input id="card_cvv" value="111" placeholder="CVV" type="number">
            </div>
            <div class="field">
                <label>Valor da Transação</label>
                <input id="amount" value="888" placeholder="Valor da Transação" type="number">
            </div>
            <div class="field">
                <label>Número de Parcelas</label>
                <input id="installments" value="1" placeholder="Número de Parcelas" type="number">
            </div>
            <button id="criar-transacao" class="ui orange huge fluid button">Criar Transação</button>
        </div>
    </div>
</div>


<div class="ui basic segment">
    <div class="ui container">
        <pre><code id="resultado"></code></pre>
    </div>
</div>

<script>
    $(document).ready(function () {

        $('#criar-transacao').on('click', function() {
            $('.form').addClass('loading');
            // Primeiro vamos armazenar o cartão
            var transaction = {
                'card_id': localStorage.getItem('card_id'),
                'card_cvv': $('#card_cvv').val(),
                'capture': $('#capture').val(),
                'amount': $('#amount').val(),
                'installments': $('#installments').val(),
                'postback_url': $('#postback_url').val()
            };
            $.post(window.location.href, transaction, function(data) {
                console.log(data)
                $('.form').removeClass('loading');
                $('#resultado').text(JSON.stringify(data));
            })

        })
    })
</script>