<div class="ui vertical segment">
    <div class="ui container">
        <h1 class="ui header">Retorno da API</h1>
        <p><a href="{{back_url}}">&larr; Voltar</a></p>
    </div>
</div>

<div class="ui basic segment">
    <div class="ui text container">
        <pre><code>{{{json_result}}}</code></pre>
    </div>
</div>